.featured-products-custom {
  --font-heading-family: "Arial";
  --color-foreground: 101, 104, 116;
  padding: 4.3rem 0 9rem 0;
}

@media screen and (min-width: 768px) {
  .featured-products-custom {
    padding: 8rem 14rem 14.7rem;
  }
}

.featured-products-custom h2 {
  margin: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .featured-products-custom h2 {
    font-size: 42px;
    line-height: 42px;
  }
}

.featured-products-custom__products {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5rem;
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .featured-products-custom__products {
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 6rem;
    margin-top: 6rem;
  }
}
